services:
  # Broker de Kafka (KRaft) con JMX activado
  kafka:
    image: apache/kafka:latest
    container_name: kafka-broker-container
    ports:
      - "9092:9092"
      - "9999:9999"   # Puerto JMX para métricas
    environment:
      # Identidad del cluster (KRaft)
      KAFKA_CLUSTER_ID: "abcdefghijklmnopqrstuv"
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller

      # Listeners
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093

      # Logs
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      
      # Extra: asegurar listeners
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093

      # JMX HABILITADO PARA EXPORTER
      KAFKA_OPTS: -javaagent:/opt/jmx_prometheus_javaagent.jar=9999:/opt/prom-jmx-agent-config.yml

    volumes:
      - ./kafka-data:/var/lib/kafka/data
      - ./prom-jmx-agent-config.yml:/opt/prom-jmx-agent-config.yml
      - ./jmx_prometheus_javaagent.jar:/opt/jmx_prometheus_javaagent.jar

    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 9092 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Prometheus
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus-container
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      # jmx-exporter:
        # condition: service_started
      kafka:
        condition: service_started

  # Loki
  loki:
    image: grafana/loki:latest
    container_name: loki-container
    ports:
    - "3100:3100" 
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
    - ./loki-config.yaml:/etc/loki/local-config.yaml

  # Promtail (Agente de Logs)
  promtail:
    image: grafana/promtail:latest
    container_name: promtail-container
    ports:
      - "9080:9080" 
    volumes:
    - ./promtail-config.yml:/etc/promtail/config.yml
    - /var/lib/docker/containers:/var/lib/docker/containers:ro
    - /var/run/docker.sock:/var/run/docker.sock:ro
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      loki:
        condition: service_started

  # Grafana
  grafana:
    image: grafana/grafana-enterprise:latest
    container_name: grafana-container
    ports:
      - "3000:3000"
    volumes:
      - ./grafana-data:/var/lib/grafana
      - ./grafana/plugins:/var/lib/grafana/plugins
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    depends_on:
      prometheus:
        condition: service_started
      loki:
        condition: service_started

  # Node Exporter para metricas del Host
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter-container
    ports:
      - "9100:9100"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    restart: unless-stopped

  # cAdvisor para metricas detalladas de contenedores
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor-container
    ports:
      - "8080:8080" 
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    depends_on:
      - kafka 
    restart: unless-stopped

  # Producer (Python)
  producer:
    build:
      context: ./producer
    container_name: kafka-producer-container
    volumes:
      - ./producer:/app
    depends_on:
      kafka:
        condition: service_healthy


  # Consumer (Python)
  # consumer:
  #   build:
  #     context: ./consumer
  #   container_name: kafka-consumer-container
  #   volumes:
  #     - ./consumer:/app
  #   # Asegura que el broker de Kafka esté listo
  #   depends_on:
  #     kafka:
  #       condition: service_healthy
  #   # stdin_open: true
  #   # tty: true
