server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker-service-discovery
    
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 15s
        
    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        regex: /.*kafka-broker.*|/.*kafka-producer.*|/.*promtail.*|/.*loki.*|/.*prometheus.*|.*grafana.*|/.*cadvisor.*|/.*node-exporter.*
        action: keep

      - source_labels: ['__meta_docker_container_name']
        regex: /.*kafka-broker.*
        target_label: job
        replacement: kafka-broker
        action: replace
      
      - source_labels: ['__meta_docker_container_name']
        regex: /.*kafka-producer.*
        target_label: job
        replacement: kafka-producer
        action: replace
      
      - source_labels: ['__meta_docker_container_name']
        regex: /.*promtail.*
        target_label: job
        replacement: promtail
        action: replace

      - source_labels: ['__meta_docker_container_name']
        regex: /.*loki.*
        target_label: job
        replacement: loki
        action: replace
      
      - source_labels: ['__meta_docker_container_name']
        regex: /.*prometheus.*
        target_label: job
        replacement: prometheus
        action: replace

      - source_labels: ['__meta_docker_container_name']
        regex: /.*grafana.*
        target_label: job
        replacement: grafana
        action: replace

      - source_labels: ['__meta_docker_container_name']
        regex: /.*cadvisor.*
        target_label: job
        replacement: cadvisor
        action: replace
      
      - source_labels: ['__meta_docker_container_name']
        regex: /.*node-exporter.*
        target_label: job
        replacement: node-exporter
        action: replace
        
    pipeline_stages:
      - docker: {}